test_output/
build/

# Compiled python files
*.py[oc]

# gedit files
*~

# Notepad++ files
nppBackup/

# Special dirs and files
build/
dist/
bin/
test/testOutput/
spyder.egg-info/
Thumbs.db
.DS_Store/
spyder_crash.log
.DS_Store
.spyproject
.idea/
.cache
.coverage*
*.egg-info/

# git .orig files
*.orig

# visual code ignore
.vscode/
*.pyd

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
